*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.cotainer {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.colum {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

input {
    font-size: 20px;
    background-color: gainsboro;
    border: none;
    margin-bottom: 15px;
    padding-left: 10px;
}

button {
    width: 320px;
    font-size: 18px;
    background-color: rgb(80, 0, 90);
    border: none;
    cursor: pointer;
    border-radius: 15px;
    color: #fff;
    padding: 4px;
    margin-top: 25px;
}

h4 {
    margin-top: 75px;
}

.Lista {
    display: flex;
    gap: 200px;
}

ul {
    list-style: none;
}

li {
    padding: 7px;
    font-size: 18px;
}

.total {
    border-top: 2px solid rgb(255, 255, 255);
    margin-top: 20px;
    width: 320px
}

span {
    margin-left: 35px;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 23px;
    }
}